.bg-primary {
  background-color: #10a870;
 }

 .btn-primary {
  background-color: #10a870;
  border-color: #10a870;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #064f34;
  border-color: #064f34;
}

hr {
  border-color: #1bf7a6;
  border-width: 3px;
  max-width: 50px;
}

.navbar-default .navbar-header .navbar-brand {
  color: #10a870;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.portfolio-box-caption:hover {
background: #10a870 !important;
opacity: 0.8 !important;
}